/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(215, 204, 58);
}

h1 {
   text-align: center;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.head img {
    width: 300px;
    height: 300px;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    height: 60vh;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
}

.icon i{
    font-size: 30px;
    margin: 10px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
